/* algemene stijl */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}
.wrapper{
    width: 1000px;
    margin: 0 auto;
}

/* dit is de eerste header */
.header {
    background-color: #34495e;
    width: 100%;
    height: 72px;
    color: #ffffff;
}
li {
    color: #d7d7d7;
}
/* logo */
.sitename {
    color: #ffffff;
    text-decoration: none;
}
.sitenameblock {
    display: inline-block;
    background-color: #384e63;
    height: 72px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    line-height: 72px;
}
/* site onderdelen */
.forheader {
    float: left;
}
.forheader li {
    display: inline-block;
    margin-left: 10px;
    line-height: 72px;
}
.forheader li a {
    color: #ffffff;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
.forheader li.active {
    background-color: #383f48;
}
.active {
   background-color: #383f48;
}

/* mijn account en winkelwagen */
.rightlist {
    float: right;
    line-height: 72px;
}
.rightlist li {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
.rightlist li a{
    color: #ffffff;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
.shoppingcart a {
    border: 1px solid #34495e;
    background-color: #2b3d4f;
    padding: 6px 12px;
}

/* dit is de 2de header */
.secondheader {
    background-color: #383f48;
    width: 100%;
    height: 106px;
}
.customername {
    float:left;
    padding-top: 30px;
    border-right: 1px solid #c3c3c3;
    padding-right: 20px;
}
#customername {
    color: #ffffff;
}
#customer {
    color: #c3c3c3;
}
.customertabs li {
    display: inline-block;
    margin-right: 40px;
    margin-left: 20px;
    line-height: 106px;
}
.customertabs li a {
    color: #c3c3c3;
    text-decoration: none;
}


/* dit is de 3de header */
.thirdheader {
    background-color: #f6f6f6;
    width: 100%;
    height: 150px;
}
.thirdheadertable {
    width: 100%;
    background-color: #f6f6f6;
    margin: 0;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}
.thirdheaderhead {
    background-color: #38526d;
    border: 1px solid #f6f6f6;
    color: #ffffff;
}
.thirdheaderdata {
    background-color: #ffffff;
    border: 1px solid #f6f6f6;
}
.textintable {
    padding: 5px;
    margin: 5px;
    color: #c3c3c3;
}
.textintable a {
    text-decoration: none;
    color: #c3c3c3;
}

/* dit is de verticale header */
.fourthheader {
    background-color: #f6f6f6;
    width: 330px;
    height: auto;
    float: left;
}
/* textheader*/
.textheader {
    margin-left: 331px;
    height: auto;
}
.productleft {
    background-color: 
}
.productmid {

}
.productright {

}

/* mijn account en winkelwagen */
.rightlist {
   float: right;
 }
li {
   height: auto;
}

/*dit is voor het aanmeld gedeelte*/
div.login{
    width: 520px;
    height: auto;
    margin: 0 auto;
    background-color: #f6f6f6;
    padding: 10px;
    text-align: center;
}

input.login{
  height: 35px;
  width: 300px;
  border: solid 1px #d8d8d8;
  font-size: 18px;
}

table{
  border-spacing: 15px;
  text-align: right;
}

h3.login{
    color: #333366;
    font-weight: lighter;
}

.loginBtn{
  background-color: #34495e;
  height: 35px;
  width: 300px;
  color: #ffffff;
  border: solid 1px #d8d8d8;
}

td.line{
  border: solid 1px #d8d8d8;
}

a.login{
  color: #34495e;
  text-decoration: none;
  font-size: 14px;
}

#btw{
  color: #bbbbbb;
  font-style: italic;
}
